backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
certifi==2020.6.20
decorator==4.4.2
enum34==1.1.6
futures==3.3.0
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
jupyter-client==5.3.4
jupyter-core==4.6.1
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
pip==19.3.1
prompt-toolkit==1.0.15
ptyprocess==0.7.0
Pygments==2.5.2
python-dateutil==2.8.1
pyzmq==18.1.0
scandir==1.10.0
setuptools
simplegeneric==0.8.1
singledispatch
six==1.15.0
tornado==5.1.1
traitlets==4.3.3
wcwidth==0.2.5
wheel==0.38.1
